{% extends 'users/dashboard_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
    {% csrf_token %}
        {% if form.id %}
        <div id="div_id_name" class="form-group">
            <label for="id_name" class=" requiredField">Name<span class="asteriskField">*</span></label>
            <div>
                <input type="text" name="name" maxlength="50" class="textinput form-control" required="" id="id_name" value="{{ form.name }}">
            </div>
        </div>
        <div id="div_id_quantity" class="form-group">
            <label for="id_quantity" class=" requiredField">Quantity<span class="asteriskField">*</span></label>
            <div>
                <input type="text" name="quantity" maxlength="5" class="textinput form-control" required="" id="id_quantity" value="{{ form.quantity }}">
            </div>
        </div>
        <div id="div_id_quantity_type" class="form-group">
            <label for="id_quantity_type" class=" requiredField">Quantity type<span class="asteriskField">*</span></label>
            <div>
                <select name="quantity_type" class="select form-control" required="" id="id_quantity_type">
                    <option value="kg" {% if ingredient.quantity_type == 'kg' %} selected {% endif %}>kg</option>
                    <option value="g" {% if ingredient.quantity_type == 'g' %} selected {% endif %}>g</option>
                    <option value="l" {% if ingredient.quantity_type == 'l' %} selected {% endif %}>l</option>
                    <option value="ml" {% if ingredient.quantity_type == 'ml' %} selected {% endif %}>ml</option>
                    <option value="szt." {% if ingredient.quantity_type == 'szt.' %} selected {% endif %}>szt.</option>
                    <option value="opak." {% if ingredient.quantity_type == 'opak.' %} selected {% endif %}>opak.</option>
                </select>
            </div>
        </div>
        <div>
            <button class="btn btn-outline-info" type="submit">Save changes</button>
        </div>
        {% else %}
    {{ form.name|as_crispy_field }}
    {{ form.quantity|as_crispy_field }}
    {{ form.quantity_type|as_crispy_field }}
    <div>
        <button class="btn btn-outline-info" type="submit">Add</button>
    </div>
    {% endif %}
    </form>
{% endblock %}
