{% extends 'users/dashboard_base.html' %}
{% block content %}
    <a href="{% url 'fridge-add' %}" class="btn btn-primary" role="button">Dodaj</a>
{% if fridge %}
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Quantity</th>
                        <th>Quantity type</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                {% for ingredient in fridge %}
            <tr>
                <td>{{ ingredient.quantity }}</td>
                <td>{{ ingredient.quantity_type }}</td>
                <td>{{ ingredient.name }}</td>
                <td><a href="{% url 'fridge-edit' ingredient.id %}" class="btn btn-primary" role="button">Edytuj</a></td>
                <td><a href="{% url 'fridge-delete' ingredient.id %}" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć składnik?')" role="button">Usuń</a></td>
            </tr>
        </tbody>
        {% endfor %}
            </table>
        </div>
    </div>
{% else %}
    <p>Dodaj zawartość lodówki</p>
{% endif %}
{% endblock %}
