{% extends 'users/base.html' %}
{% block content %}
<p>Strona domowa przepisów</p>
    <a href="{% url 'recipes_add' %}" class="btn btn-primary" role="button">Dodaj</a>
{% if recipes %}
    <table id="recipes-table">
        <thead>
            <tr>
                <th scope="col">Nr.</th>
                <th scope="col">Nazwa przepisu</th>
                <th scope="col">Składniki</th>
                <th scope="col">Sposób przygotowania</th>
                <th scope="col">Tagi</th>
            </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <th scope="row">{{ recepie.id }}</th>
                <td>{{ recepie.recepie_name }}</td>
                <td>{{ recepie.ingredients }}</td>
                <td>{{ recepie.preparation }}</td>
                {% if recepie.tags %}
                    <td>{{ recepie.tags }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td><a href="{% url 'recepie_edit' recepie.id %}" class="btn btn-primary" role="button">Edytuj</a></td>
                <td><button type="button" class="btn btn-danger" type="submit">Usuń</button></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {{ recepie.ingredients }}
{% else %}
    <p>Dodaj przepis</p>
{% endif %}
{% endblock %}
