{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<p>Tutaj powinien być formularz dodawania przepisu</p>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Dodaj przepis!</legend>
                {{ form.recepie_form.recepie_name|as_crispy_field }}
                Ingredient
                <table id="ingredient-table">

                </table>
                <button type="button" class="btn btn-primary" onclick="add_ingredient()">Dodaj składnik</button>
                {{ form.recepie_form.preparation|as_crispy_field }}
                {{ form.recepie_form.tags|as_crispy_field }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Dodaj</button>
            </div>
        </form>
    </div>
    <script>
    function add_ingredient(){
        const rowNumber = document.getElementById('ingredient-table').rows.length;
        const table = document.getElementById('ingredient-table');
        const newRow = document.createElement("tr");

        const newQuantityInput = document.createElement("td");
        newQuantityInput.innerHTML = `<div id="div_id_quantity" class="form-group"> <label for="id_quantity" class=" requiredField">Quantity<span class="asteriskField">*</span> </label> <div> <input type="text" name="quantity-${rowNumber}" maxlength="15" class="textinput form-control" required="" id="id_quantity"> </div> </div>`;

        const newNameInput = document.createElement("td");
        newNameInput.innerHTML = `<div id="div_id_name" class="form-group"><label for="id_name" class=" requiredField">Name<span class="asteriskField">*</span></label><div><input type="text" name="name-${rowNumber}" maxlength="50" class="textinput form-control" required="" id="id_name"></div></div>`;

        newRow.appendChild(newQuantityInput);
        newRow.appendChild(newNameInput);
        table.appendChild(newRow);
        /*const table = document.getElementById('ingredient-table');
        const rowNumber = document.getElementById('ingredient-table').rows.length;
        const sourceRow = table.rows[0];
        const newRow = sourceRow.cloneNode(true);

        const inputs = newRow.getElementsByTagName('input');
        for(let i = 0; i < inputs.length; i++){
            inputs[i].value = "";
            const oldName = inputs[i].getAttribute('name');
            if (oldName !== null){
                const newName = oldName.replace("form-0-", `form-${rowNumber}-`);
                inputs[i].setAttribute('name', newName);
            }
            //inputs[i].attributes[1].ownerElement.id = inputs[i].attributes[1].ownerElement.id.replace("0", rowNumber.toString());
            //inputs[i].attributes[1].value.replace("0", rowNumber.toString());
            //inputs[i].name.replace("0",rowNumber.toString())
        }

        table.appendChild(newRow);*/

        //document.getElementById('ingredient-table').appendChild(newRow);
    }
    </script>
{% endblock %}

<!--
<form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Dodaj przepis!</legend>
                {{ form.name|as_crispy_field }}
                {{ form.ingredients.label }}
                <table id="ingredient-table">
                    {% for form in ingredient_formset %}
    <tr>
        <td>{{ form.quantity|as_crispy_field }}</td>
        <td>{{ form.name|as_crispy_field }}</td>
    </tr>
    {% endfor %}
                </table>
                <button type="button" class="btn btn-primary" onclick="add_ingredient()">Dodaj składnik</button>
                {{ form.preparation|as_crispy_field }}
                {{ form.tags|as_crispy_field }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Dodaj</button>
            </div>
        </form>
-->
