{% extends 'users/dashboard_base.html' %}
{% load custom_filters %}
{% block content %}
    {% if user.is_authenticated %}

    {% for key in sorted_keys %}
    <div class="card shadow mb-4">
    {% if key == '0' %}
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Recipes, which can be done</h6>
        </div>
    {% else %}
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Missing ingredients in recipes: {{ key }}</h6>
        </div>
    {% endif %}
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Recipe Name</th>
                        <th>Ingredients</th>
                        <th>Preparation</th>
                        <th>Tags</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in ready_recipes|get_item:key %}
            <tr>
                <td>{{ recipe.recipe_name }}</td>
                <td>
                {% for ingredients in recipe.recipe_ingredient.all %}
                    <li>{{ ingredients.amount }} {{ ingredients.ingredient.quantity_type }} {{ ingredients.ingredient.product.name }}</li>
                {% endfor %}
                </td>
                <td>{{ recipe.preparation }}</td>
                {% if recipe.tags %}
                    <td>{% for tag in recipe.tags %}{{ tag }}{% endfor %}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        {% endfor %}
{% endif %}
{% endblock %}
